.main {

	.agenda, .landing_page, .albums_page, .biography, .feelings_page, .galleries, .albums, .feelings, .news, .events, .members, .agenda {
		padding: 6rem 5%;
		text-align: center;


		&__title {
			position: relative;
			display: inline-block;
			font-family: 'Russo One', sans-serif;
			font-size: 2.074rem;
			max-width: 80%;
			color: #191919;
			text-align: center;
			margin-bottom: 3rem;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: -10px;
				left: -1.5rem;
				width: 4rem;
				height: 4px;
				background-color: black;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -10px;
				right: -1.5rem;
				width: 4rem;
				height: 4px;
				background-color: black;
			}
		}
	} 

	.landing_page, .biography, .albums_page, .galleries, .news, .feelings_page, .agenda {
		padding-top: 6rem;
	}


	.events {
		background-color: rgba(225, 147, 4, 0.85);

		&__title::before, &__title::after {
			background-color: #FFFFFF;
		}

		&__event_container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1.5rem;
			justify-content: space-between;
			align-items: stretch;
			text-align: left;
			margin-bottom: 3rem;
			transition: .5s ease;
		}

		&__link_container {
			display: block;
			text-align: center;
		}

		&__link {
			display: inline-block;
			font-family: 'Russo One', sans-serif;
			font-size: 1rem;
			min-width: 15.25rem;
			text-decoration: none;
			transition: .5s ease;
			color: #191919;
			padding: 2rem;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url('https://www.pankart.anthony-hoens.be/wp-content/themes/project/public/img/model-' + random(4) +'.svg');

			&:hover, &:focus {
				transform: scale(1.2);
			}
		
		}

		.landing_page {
			min-height: 100vh;
		}

		.event {
			width: calc(50% - 1.5rem);
			background-color: #FFFFFF;
			transition: .5s ease;
			padding: 1rem;

			&:hover {
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
			}

			&__title {
				font-family: 'Montserrat', sans-serif;
				font-size: 1.2rem;
				font-weight: 700;
				line-height: 1.4;
				margin-bottom: .8rem;
				word-break: break-word;

				& a {
					text-decoration: none; 
					color: #191919;
				}
			}

			&__date {
				font-size: 1rem;
				font-weight: 300;
				font-style: italic;
				margin-bottom: 1rem;
			}

			&__max_people {
				font-size: 1rem;
				font-weight: 400;
			}
		}
	}

	.albums {
		background-color: white;

		&__title::before, &__title::after {
			background-color: #FAC023;
		}

		.album {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			gap: 1.5rem;
			text-align: left;
			transition: .5s ease;


			&__img_container {
				display: block;
				width: 100%;
			}

			&__img {
				width: 100%;
			}

			&__info {
				display: block;
				width: 100%;
			}

			&__title {
				font-family: 'Russo One', sans-serif;
				font-size: 1.44rem;
				margin-bottom: 1rem;
			}

			&__description {

				& p+p {
					margin-top: .5rem;
				}
			}
		}

	}

	.feelings {
		background-color: #191919;

		&__title {
			color: #FFFFFF;

			&::after, &::before {
				background-color: #FF2E2E;
			}
		}

		&__feeling_container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1.5rem;
			justify-content: space-between;
			align-items: stretch;
			text-align: left;
			transition: .5s ease;
		}

		.feeling {
			width: calc(50% - 1.5rem);
			background-color: #FFFFFF;
			transition: .5s ease;
			padding: 1rem;

			&:hover {
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
			}

			&__title {
				font-family: 'Montserrat', sans-serif;
				font-size: 1.2rem;
				font-weight: 700;
				line-height: 1.4;
				margin-bottom: .8rem;
				word-break: break-word;

				& a {
					text-decoration: none; 
					color: #191919;
				}

				&.lovelove {
					color: #E19304;
				}

				&.hatehate {
					color: #FF2E2E;
				}
			}

			&__date {
				font-size: 1rem;
				font-weight: 300;
				font-style: italic;
				margin-bottom: 1rem;
			}

			&__description {

				& p+p {
					margin-top: .5rem;
				}
			}
		}
	}

	.agenda {

		&__title::before, &__title::after {
			background-color: #E19304;
		}

		&__container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
			gap: 1.5rem;
			row-gap: 4rem;
		}

		.event {
			width: 100%;
			text-align: left;

			&__date {
				font-family: 'Montserrat', sans-serif;
				font-size: 1rem;
				font-weight: 700;
				display: inline-block;
				min-width: 16.875rem;
				padding: .9rem 2rem;
				transition: .3s ease;
				text-align: center;
				text-transform: uppercase;
				background-color: #E19304;
				color: #191919;
				margin-bottom: 2rem;
			}

			&__title {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.44rem;
				font-weight: 700;
				color: #191919;
				margin-bottom: 1rem;
				word-break: break-all;
			}

			&__location {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1rem;
				font-weight: 300;
				font-style: italic;
				color: #191919;
				margin-bottom: 1rem;
				word-break: break-all;
			}

			&__description {

				& p {
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.6;
				}

				& p+p {
					margin-top: .5rem;
				}
			}

		}
	}


	.news {

		&__title::before, &__title::after {
			background-color: #E19304;
		}

		&__container {
			transition: .5s ease;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}

		.new {
			width: 100%;
			padding: 2rem;
			border: 2px solid #E19304;
			background-color: #FFFFFF;
			text-align: left;

			&:not(:last-of-type) {
				margin-bottom: 3rem;
			}

			&__title {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.44rem;
				font-weight: 700;
				color: #191919;
				margin-bottom: 1rem;
				word-break: break-all;
			}

			&__date {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1rem;
				font-weight: 300;
				font-style: italic;
				color: #191919;
				margin-bottom: 1rem;
				word-break: break-all;
			}

			&__description {
				margin-bottom: 1rem;

				& p {
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.6;
				}

				& p+p {
					margin-top: .5rem;
				}
			}


			&__img_container {
				width: 100%;
				margin-bottom: 1rem;

				& img {
					width: 100%;
				}
			}

			&__link {
				color: #191919;
			}
		}
	}

	.feelings_page {

		&__title::before, &__title::after {
			background-color: #FF2E2E;
		}

		&__container {
			transition: .5s ease;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}

		.feeling {
			width: 100%;
			padding: 2rem;
			border: 2px solid #FF2E2E;
			background-color: #FFFFFF;
			text-align: left;

			&:not(:last-of-type) {
				margin-bottom: 3rem;
			}

			&__title {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.44rem;
				font-weight: 700;
				color: #191919;
				margin-bottom: 1rem;
				word-break: break-all;
			}

			&__date {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1rem;
				font-weight: 300;
				font-style: italic;
				color: #191919;
				margin-bottom: 1rem;
				word-break: break-all;
			}

			&__description {
				margin-bottom: 1rem;

				& p {
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.6;
				}

				& p+p {
					margin-top: .5rem;
				}
			}


			&__img_container {
				width: 100%;
				margin-bottom: 1rem;

				& img {
					width: 100%;
				}
			}

			&__link {
				color: #191919;
			}
		}
	}

	.biography {
		&__title::before, &__title::after {
			background-color: #E19304;
		}


		.first_section {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 1.5rem;
			transition: .5s ease;

			&__title {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.44rem;
				font-weight: 700;
				color: #191919;
				margin-bottom: 1rem;
				word-break: break-all;
			}


			&__description {
				margin-bottom: 1rem;

				& p {
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.6;
				}

				& p+p {
					margin-top: .5rem;
				}
			}

			&__img_container {
				width: 100%;

				& img {
					width: 100%;
				}
			}

			&__link_container {
				display: block;
			}

			&__link {
				display: inline-block;
				font-family: 'Russo One', sans-serif;
				font-size: 1rem;
				min-width: 15.25rem;
				text-decoration: none;
				transition: .5s ease;
				color: #191919;
				padding: 2rem;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-image: url('https://www.pankart.anthony-hoens.be/wp-content/themes/project/public/img/model-' + random(4) +'.svg');

				&:hover, &:focus {
					transform: scale(1.2);
				}
			}

		}
	}

	.galleries {

		&__title::before, &__title::after {
			background-color: #E19304;
		}

		.gallery {
			column-count: 2;
			transition: .5s ease;

			&__img_container {
				width: 100%;
				margin-bottom: 1rem;

				& img {
					width: 100%;
				}
			}
		}
	}

	.albums_page {
		&__title::before, &__title::after {
			background-color: #E19304;
		}

		.album {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			gap: 1.5rem;
			width: 100%;

			&__title {
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.44rem;
				font-weight: 700;
				color: #191919;
				margin-bottom: 1rem;
				word-break: break-all;
			}


			&__description {

				& p {
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.6;
				}

				& p+p {
					margin-top: .5rem;
				}
			}

			&__container {
				width: calc(25% - 1rem);

				& img {
					width: 100%;
				}
			}

			&__info {
				text-align: left;
				width: calc(75% - 1rem);
			}
		}
	}

	@media screen and (min-width: 768px) {
		.news, .feelings_page {
			&__container {
				padding: 0 9rem;
			}
		}

		.biography {
			.first_section {
				padding: 0 9rem;
			}
		}
	}	

	@media screen and (min-width: 1024px) {
		.agenda, .landing_page, .albums_page, .biography, .feelings_page, .galleries, .albums, .feelings, .news, .events, .members {
			padding: 6rem 4rem;
		} 

		.landing_page, .biography, .albums_page, .galleries, .news, .feelings_page, .agenda {
			padding-top: 14rem;
		}

		.events {

			.event {
				width: calc(25% - 1.5rem);

				&__title {
					font-size: 1.44rem;
				}
			}
		}

		.albums {

			.album {
				padding: 0 9rem;

				&__img_container {
					display: block;
					width: calc(50% - 1.5rem);
				}

				&__info {
					display: block;
					width: calc(50% - 1.5rem);
				}
			}

		}

		.feelings {

			.feeling {
				width: calc(33% - 1.5rem);
				background-color: #FFFFFF;
				transition: .5s ease;
				padding: 1rem;
			}	
		}
		.agenda {

			.event {
				width: calc(33% - 1.5rem);
			}
		}

		.news {
			.new {
				width: calc(50% - 1rem);
			}
		}

		.feelings_page {
			.feeling {
				width: calc(50% - 1rem);
			}
		}
		.galleries {

			.gallery {
				column-count: 3;
			}
		}
		.albums_page {

			.album {
				padding: 0 9rem;
			}
		}
	}

	@media screen and (min-width: 1580px) {
		.agenda, .landing_page, .albums_page, .biography, .feelings_page, .galleries, .albums, .feelings, .news, .events, .members {
			padding: 6rem 6rem;
		} 

		.landing_page, .biography, .albums_page, .galleries, .news, .feelings_page, .agenda {
			padding-top: 14rem;
		}

		.events {

			&__event_container {
				padding: 0 9rem;
			}
		}

		.albums {

			.album {
				padding: 0 18rem;

			}

		}

		.news {
			.new {
				width: calc(33% - 1.5rem);
			}
		}

		.feelings_page {
			.feeling {
				width: calc(33% - 1rem);
			}
		}

		.biography {
			.first_section {
				&__info {
					width: calc(40% - 1rem);
				}

				&__img_container {
					width: calc(60% - 1rem);
				}
			}
		}
		.galleries {

			.gallery {
				column-count: 4;
			}
		}
	}

	@media screen and (min-width: 1740px) {
		.agenda, .landing_page, .albums_page, .biography, .feelings_page, .galleries, .albums, .feelings, .news, .events, .members {
			padding: 6rem calc((100vw - 1740px) / 2);
		}
		.landing_page, .biography, .albums_page, .galleries, .news, .feelings_page, .agenda {
			padding-top: 14rem;
		}
	}
}